body{
    margin: 0;
    padding: 0;
    background-color: #12181B;
    justify-content: center;
    align-items: center;
}

/*minutes*/
.container {    
    top: 500px;
    min-height: 100vh;
    width: 700px;
    right: 600px;
    margin: 0 auto;
    background-color: #1C1C10;
    border: 5px solid #696741;
    justify-content: center;
    align-items: center;
    color: #3C5A69;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/*********
timers
*********/
.label {
    margin: 0;

    justify-self: center;
    align-self: center;
    font-size: 30px;
}
#hour-label {
    grid-area: 1 / 2 / 1 / 3;
}

#min-label {
    grid-area: 1 / 3 / 1 / 4;
}

#sec-label {
    grid-area: 1 / 4 / 1 / 5;
}
/* */
#hour {
    grid-area: 2 / 2 / 2 / 3;
}
#p1{
    grid-area: 2 / 2 / 2 / 4;
}
#minute {
    grid-area: 2 / 3 / 2 / 4;
}
#p2{
    grid-area: 2 / 3 / 2 / 5;
}
#sec {
    grid-area: 2 / 4 / 2 / 5;
}


.semicolom {
    justify-self: center;
    align-self: center;

    font-size: 30px;
    margin: 0;
}
.time {
    justify-self: center;
    align-self: center;

    border: none;
    background-color: #18181800;
    font-size: 50px;
    width: 70px;
    height: 50px;
}

/*buttons*/

.btn {
    align-self: center;
    justify-self: center;

    width: 100px;
    height: 30px;

    font-size: 20px;
}

#start {
    grid-area: 3 / 2 / 3 / 4;
}

#reset {
    grid-area: 3 / 3 / 3 / 5;
} 
.topbar {
    background: #2C3E50;
    color: #fff;
    height: 100px;
}

a {
    color: inherit;
}

.topbar a {
    text-decoration: none;
}

.topbar-logo {
    font-size: 24px;
    display: block;
    text-align: center;
    padding: 11px 0;
}

.topbar-nav {
    text-align: center;
    padding-bottom: 16px;
    line-height: 1.6;
}

.topbar-nav a {
    display: inline-block;
    margin-right: 24px;
    color: rgba(255, 255, 255, 0.67);
    animation: color .3s;
}

.topbar-nav a:hover,
.topbar-nav a.active {
    color: #fff;
}

@media only screen and (min-width: 720px) {
    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;
        padding: 0 25px;
    }
    .topbar-logo,
    .topbar-nav {
        padding: 0;
    }
    .topbar-nav a {
        margin: 0 20px;
    }
}
